{% extends 'base.html.twig' %}

{% block body %}
<table cellpadding="25" cellspacing="0" border="0" align="center" width="560" style="padding: 0 25px 25px;">
    <tbody><tr>
        <td align="center">
            <img src="http://www.bindeo.com/images/mails/bindeo.png" alt="Bindeo" width="120">
        </td>
    </tr>
    <tr>
        <td style="background-color: #fff; border-radius: 2px; -webkit-border-radius: 2px; box-shadow: 0 0 1px #ccc;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; color: #333">
            <p style="margin-top: 0;">{{ translate.translate('general_hi_user', '<strong>'~user.name~'</strong>')|raw }},</p>
            <p>{{ translate.translate('password_explanation') }}</p>
            <br>
            <p style="text-align: center;">
                <a class="cta-button" href="{{ url }}?m=P&t={{ token }}"
                   style="background: #4183C4; color: #ffffff; display: inline-block; border-radius: 2px;
                    -webkit-border-radius: 2px; -webkit-text-size-adjust: none; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    font-size: 17px; font-weight: normal; margin: 0 auto; padding: 16px 24px; text-align: center;
                    text-decoration: none; width: auto !important"
                >
                    {{ translate.translate('password_button') }}
                </a>
            </p>
            <br>
            <p>{{ translate.translate('password_notifyus', '<a href="mailto:any@bindeo.com">', '</a>')|raw }}.</p>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}